<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366321029834-m33sto18c5pcs88jtsc1qd8blf7mtpnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366321029834-m33sto18c5pcs88jtsc1qd8blf7mtpnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBVyCQMSc38CP4gZC0Wy0j3oEXpxf1P0Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>366321029834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aedanjoyce.humanitary</string>
	<key>PROJECT_ID</key>
	<string>humanitary-944b9</string>
	<key>STORAGE_BUCKET</key>
	<string>humanitary-944b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366321029834:ios:907c7c4f58942243</string>
	<key>DATABASE_URL</key>
	<string>https://humanitary-944b9.firebaseio.com</string>
</dict>
</plist>